@import '../colors.css';

.TaggedText {  
  padding: 40px 20px 20px;
  line-height: 2em;
  position: relative;
  letter-spacing: .05em;

  .adjective { 
    color: var(--color-adjective);
    &.underline {
      border-bottom-color: var(--color-adjective);
    }
  }

  .adverb { 
    color:  var(--color-adverb);
    &.underline {
      border-bottom-color: var(--color-adverb);
    }
  }

  .conjunction { 
    color: var(--color-conjunction);
    &.underline {
      border-bottom-color: var(--color-conjunction);
    }
  }

  .determiner { 
    color: var(--color-determiner);
    &.underline {
      border-bottom-color: var(--color-determiner);
    }
  }

  .noun { 
    color: var(--color-noun);
    &.underline {
      border-bottom-color: var(--color-noun);
    }
  }

  .number { 
    color: var(--color-number);
    &.underline {
      border-bottom-color: var(--color-number);
    }
  }

  .other { 
    color: var(--color-other);
    &.underline {
      border-bottom-color: var(--color-other);
    }
  }

  .preposition { 
    color: var(--color-preposition);
    &.underline {
      border-bottom-color: var(--color-preposition);
    }
  }

  .pronoun { 
    color: var(--color-pronoun);
    &.underline {
      border-bottom-color: var(--color-pronoun);
    }
  }

  .punctuation { 
    color: var(--color-punctuation);
    &.underline {
      border-bottom-color: var(--color-punctuation);
    }
  }

  .verb { 
    color: var(--color-verb);
    &.underline {
      border-bottom-color: var(--color-verb);
    }
  }

  .underline {
    border-bottom: 1px solid;
    color: inherit;
  }
  
}

.grapheme {
  display: inline;
}

.underline-toggle {
  position: absolute;
  top: 0px;
  left: 20px;
}
