.LegendItem {
  margin: 5px 0;
  transition: color .2s;
}

.LegendItem.editActive label {
  color: var(--color-text-disabled);
}
.LegendItem.unselected {
  color: var(--color-text-disabled);
}


.dot input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.dot label {
  text-transform: capitalize;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  padding: 0;
  user-select: none;
}

.dot label::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: var(--color-disabled);
  border-radius: 100%;
}

.dot input[type="checkbox"]:hover + label:before {
  background: #ccc;
}

.dot input[type="checkbox"] {

  &:checked + label:before {
    background: #3344aa;
  }

  &#adjective:checked + label:before {
    background: var(--color-adjective);
  }

  &#adverb:checked + label:before {
    background: var(--color-adverb);
  }
  &#conjunction:checked + label:before {
    background: var(--color-conjunction);
  }
  &#determiner:checked + label:before {
    background: var(--color-determiner);
  }
  &#noun:checked + label:before {
    background: var(--color-noun);
  }
  &#number:checked + label:before {
    background: var(--color-number);
  }
  &#other:checked + label:before {
    background: var(--color-other);
  }
  &#preposition:checked + label:before {
    background: var(--color-preposition);
  }
  &#pronoun:checked + label:before {
    background: var(--color-pronoun);
  }
  &#punctuation:checked + label:before {
    background: var(--color-punctuation);
  }
  &#verb:checked + label:before {
    background: var(--color-verb);
  }

}


