:root {
  --color-bg: #fff;
  --color-night: #202124;
  --color-text: #5f6368;
  --color-text-disabled: #bbb;
  
  --color-disabled: #eaeaea;
  
  --color-adjective: #09B976;
  --color-adverb: #93A3D9;
  --color-conjunction: #F046FF;
  --color-determiner: #0bCECE;
  --color-noun: #EC1C38;
  --color-number: #480380;
  --color-other: #AAAAAA;
  --color-preposition: #F0CA4D;
  --color-pronoun: #E37B40;
  --color-punctuation: #380447;
  --color-verb: #3278FA;
}