.Footer {
    width: 90%;
    margin: auto;
    border-top: 1px solid var(--color-text-disabled);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text-disabled);
    padding: 10px 0 20px;
}

.Footer a {
    color: var(--color-text);
}
.night .Footer a {
    color: var(--color-bg);
}